section
{
    border: 1px solid green;
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    background-color: antiquewhite;
    width: 600px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    margin: 50px auto;
    padding: 20px;
    
}

.input
{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.input input
{
    width: 60%;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.input button
{
    width: 15%;
    background-color: green;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: serif;
    border-radius: 7px;
    border: none;
    outline: none;
}
::placeholder
{
    /* font-style: italic; */
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    
}

.tasks
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

.tasks span
{
    font-size: large;
    font-weight: 700;
    width: 60%;
    margin-top: 20px;
}


.tasks div
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tasks button
{
    width: 80px;
    padding: 4px;
    background-color: red;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: serif;
    border-radius: 7px;
    border: none;
    outline: none;
    display: inline-block;
    margin-top: -20px;
    /* margin-left: 100px; */
    margin-top: 20px;
}

.add
{
    color: green;
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
    position: relative;
    border-radius: 1em;
    top: 10px;
}

.delete
{
    color: rgb(240, 7, 7);
    font-weight: bold;
    background-color: #ffffff;
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
    position: relative;
    border-radius: 1em;
    top: 10px;
}

